<footer id="footer" class="section-footer">
  <div class="grid-footer">
    <div class="main-links">
      <a href="#home">Home</a>
      <a href="#menu">Menu</a>
      <a href="reservations/show">Reservations</a>
      <a href="reviews">Reviews</a>
      <a href="users/login">Log In</a>
      <div class="icon-thing">
        <ion-icon class="icon" name="logo-facebook"></ion-icon>
        <ion-icon class="icon" name="logo-twitter"></ion-icon>
        <ion-icon class="icon" name="logo-instagram"></ion-icon>
      </div>
    </div>
    <div class="tag-column">
      <div class="tag-set tag-set-hours">
        <h2 class="tag-set-heading">Hours</h2>
        <p>+ Monday-Wednseday: 11am-9pm</p>
        <p>+ Thursday-Saturday: 11am-10pm</p>
        <p>+ Closed: Sundays</p>
      </div>
      <div class="tag-set">
        <h2 class="tag-set-heading">Address</h2>
        <p>
          + 34 Charlotte St, <br />
          London, England: W1T 2NH
        </p>
      </div>
      <div class="tag-set">
        <h2 class="tag-set-heading">Contact</h2>
        <p>+ 020 7636 1178</p>
        <p>+ takicontact@takirestaurant.com</p>
      </div>
    </div>
    <div class="tag-column-second">
      <div class="tag-set tag-set-dining">
        <h2 class="tag-set-heading">Dining</h2>
        <p>+ Fine dining in central London Available throughout the year</p>
      </div>
      <div class="tag-set">
        <h2 class="tag-set-heading">Reservations</h2>
        <p>+ 12 week notices recommended</p>
      </div>
    </div>
  </div>
  <a href="" class="taki">
    <h2>TAKI</h2>
  </a>
</footer>
